@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<p>
   Bizzy hair salon is known for their haircuts, color work, and different styles of braids. The salon will reveal modern, comfortable chairs and hair stations,and expanded services.

   “Every aspect of the new salon is going to be calming and comfortable - from the colors and salon seats to the personalities and atmosphere. When clients walk in, they’re able to leave their troubles at the door, and when they leave, they’ll walk out feeling confident and beautiful”
</p>
