@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bizzy Hair Salon</h1>
    <p> <img src="~/Content/Images/main.gif" alt="main" style="width:100%"></p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Schedule Appointment &raquo;</a></p>*@
    @*<p>@Html.ActionLink("Schedule Appointment", "Index", "Appointments", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CUT</h2>
        <p>
            <img src="~/Content/Images/cut.jpg" alt="Cut" style="width:100%">
        </p>       
    </div>
    <div class="col-md-4">
        <h2>COLOR/CHEMICAL</h2>
        <p> <img src="~/Content/Images/color.jpg" alt="color" style="width:100%"></p>        
    </div>
    <div class="col-md-4">
        <h2>OTHER</h2>
        <p><img src="~/Content/Images/braid.jpg" alt="braid" style="width:100%"></p>
        <p> Different style of braids are also our specialities</p>
    </div>
</div>